<div class='accessibility smaller'>
	  	<p>The University of Washington is committed to providing access and accommodation in its services, programs, and activities. To make a request connected to a disability or health condition contact the Office of Undergraduate Research at <%= auto_link(Unit.find_by_abbreviation('urp').email) %> or the Disability Services Office at least ten days in advance.</p>
</div>