<h5>Project Details</h5>

<table class="application_review not_centered">
	<%= render 	:partial => "/apply/page_review", 
				:collection => @mentee_application.pages, 
				:locals => { :links => :false } %>
</table>