<h3><%= transcript_quarter.tran_qtr %> <%= transcript_quarter.tran_yr %></h3>

<table>
<%= render :partial => "mentor/application_view/transcript_course", :collection => transcript_quarter.courses %>
</table>