<div id="login_footer">
	<div id="footer">
		<p id="copyright">
			Copyright &copy; 2007&ndash;<%= Time.now.year %> <a href="http://www.washington.edu" target="_blank">University of Washington</a>.
			Managed by the <a href="http://expd.uw.edu" target="_blank">Center for Experiential Learning &amp; Diversity</a>, a unit of 
			<a href="http://www.washington.edu/uaa/" target="_blank">Undergraduate Academic Affairs</a>.				
		</p>			
	</div>
</div>