<ul class="bulletless smaller">

	<% unless @success.empty? %>
		<li class="icon-left add">Added these courses: <%= @success.collect{|a| "#{a.course.short_title} (#{a.course.quarter.title})" }.join(", ") %></li>
	<% end -%>

	<% unless @errors.empty? %>
		<li class="icon-left delete">Could not add these courses: <%= @errors.collect{|a| "#{a.course.short_title} (#{a.course.quarter.title})"}.join(", ") %></li>
	<% end -%>

	<% unless @dupes.empty? %>
		<li class="icon-left delete">You had already reported these courses, so they weren't added: <%= @dupes.collect{|a| "#{a.course.short_title} (#{a.course.quarter.title})"}.join(", ") %></li>
	<% end -%>

	<br>
	<li><%= link_to "Click here to go back to the list.", accountability_reporting_courses_url(@year) %></li>

</ul>
