<% editable = false %>

<% service_learning_courses.each do |course, number_of_students| %>
<tr>
	<td width="20%"><%= course %></td>
	<td width="20%"></td>
	<td width="20%"><%= pluralize number_of_students, "student" %></td>
	<td width="20%"></td>
	<td width="20%"><small class="light">Reported by Carlson Center</small></td>
</tr>
<% end -%>