<div class="information">
  <%= link_to '<i class="mi md-20 uw_purple">add_circle</i> Add New'.html_safe, new_admin_event_time_path(event) %> | 
  <%= link_to '<i class="mi md-20 uw_purple">view_list</i> See All'.html_safe, admin_event_times_path(event) %>
</div>
<ul class="link-list">

	<% event.times.sort.each do |time| %>
		<li><%= link_to time.time_detail, admin_event_time_path(event, time) %></li>
	<% end %>
</ul>
