<div class="information">
  <i class='material-icons md-32'>add_circle</i><%= link_to 'Add New',new_admin_event_time_path(event) %>
  <i class='material-icons md-32'>view_list</i><%= link_to 'See All',admin_event_times_path(event) %>
</div>
<%#= link_to new_admin_event_time_path(event) do %>
	<!-- <i class='material-icons md-32'>add_circle</i> Add New -->
<%# end %>
<%#= link_to admin_event_times_path(event) do %>
	<!-- <i class='material-icons md-32'>view_list</i> See All -->
<%# end %>

<table class="borderless">	
	<% event.times.sort.each do |time| %>
		<tr><td><%= link_to time.time_detail, admin_event_time_path(event, time) %></td></tr>
	<% end -%>
	
</table>
