<% title "Mary Gate Endowment Scholars Database | University of Washington" %>

<h4><%= link_to "UW Mary Gate Endowment Scholars Search", mge_scholars_path %></h4>

<%= render 'results' %>
<% sidebar :filters %>
<br>
<small>Any problems or questions about this scholarship search should be sent to <%= auto_link(Unit.find_by_abbreviation('mge').email) %>.</small>