<% title "Mary Gates Endowment Scholars Database | University of Washington" %>

<h5><%= link_to "UW Mary Gates Endowment Scholars Search", mge_scholars_path %></h5><br />

<%= render 'results' %>
<% sidebar :filters %>
<br>
<small>Any problems or questions about this scholars search should be sent to <%= auto_link(Unit.find_by_abbreviation('mge').email) %>.</small>