<form method="get" id="q_search" class="filter_form" action="/expo/admin/students" accept-charset="UTF-8">
   <div class="input filter_form_field filter_string">
     <label for="q_email" class="label">Email</label>
     <input type="text" name="q[email_contains]" id="q_email" />
     <input type="submit" value="Search" name="commit" id="q_submit" />
   </div>
   <br>
</form>
