<ul class="collection with-header">
  <li class="collection-header">
    <strong>Add Individual</strong>
  </li>

  <%= link_to "<i class='mi padding_right'>person_add</i> Add a single record".html_safe,
              new_accountability_reporting_individual_path(@year),
              class: "collection-item",
              style: "padding-left: 1rem" %>

  <%= link_to "<i class='mi padding_right'>upload_file</i> Upload completed Excel template".html_safe,
              upload_accountability_reporting_individuals_path(@year),
              class: "collection-item",
              style: "padding-left: 1rem" %>
</ul>