<% hide_college_title ||= false %>

<tr>
  <th rowspan="2" class=""><%= "College" unless hide_college_title %></th>
  <th rowspan="2" class="light-right-border"><%= "Department" unless hide_college_title %></th>
  <% @report_objects.each do |activity_type, report| %>
    <th colspan="3" class="small center light-right-border">
      <%= activity_type.title %>
      <% unless report.finalized? %>
        <br><span class="status_tag red">DRAFT</span>
      <% end %>
    </th>
  <% end %>
</tr>
<tr class="small center">
  <% @activity_types.each do |activity_type| %>
    <th>Number of students</th>
    <th>Number of student-quarters</th>
    <th class="light-right-border">Number of hours</th>
  <% end %>
</tr>