<%
processed_text = @text.dup  # Don't modify the original

# Replace %link% with the actual link
processed_text.gsub!("%link%", @link)

# Replace %attribute% with the corresponding attribute from @service_learning_self_placement
processed_text.gsub!(/\%([a-z0-9_.]+)\%/) do |a|
  eval("@#{a.gsub(/\%/,'')}")
rescue
  nil
end

# Escape HTML entities
escaped_text = ERB::Util.html_escape(processed_text)

# Convert URLs to clickable links
escaped_text = escaped_text.gsub(/(https?:\/\/[^\s<>]+)/, '<a href="\1" style="color: #0066cc; text-decoration: underline;">\1</a>')

# Convert existing links
escaped_text = escaped_text.gsub(/&lt;a href="([^"]+)"[^&]*&gt;([^&]+)&lt;\/a&gt;/, '<a href="\1" style="color: #0066cc; text-decoration: underline;">\2</a>')

# Format into paragraphs
paragraphs = escaped_text.split(/\n\s*\n/).reject(&:blank?)
if paragraphs.length > 0
  html_content = paragraphs.map do |paragraph|
    para_text = paragraph.strip
    para_text = para_text.gsub(/\n/, '<br>')
    "<p>#{para_text}</p>"
  end.join("\n")
else
  html_content = "<p>#{escaped_text.gsub(/\n/, '<br>')}</p>"
end
%>

<div class="content">
  <%= html_content.html_safe %>
</div>