<%= title("Volunteer to Staff an Event") %>

<div class="card content">
	<table>		
		<tr>
			<th>Title</th>
			<th>Volunteer</th>
		</tr>
		
		<% @events.each do |event| %>
		<tr>
			<td><%=h event.title %></td>
			<td><%= link_to "Volunteer", :action => 'event', :id => event %></td>
		</tr>
		<% end -%>
		
	</table>
</div>