<%
# Replace %link%
@text.gsub!("%link%", @link)

# Replace %mentor.attribute%
@text.gsub!(/\%mentor\.([a-z0-9_.]+)\%/) do |a|
  @mentor.reload
  attr_name = Regexp.last_match(1)
  begin
    value = @mentor.send(attr_name)
    ERB::Util.html_escape(value.to_s)
  rescue
    ''
  end
end

# Replace %mentee.attribute%
@text.gsub!(/\%mentee\.([a-z0-9_.]+)\%/) do |a|
  begin
    value = @mentee.send($1)
    ERB::Util.html_escape(value.to_s)
  rescue
    ''
  end
end

# Replace %offering.attribute%
@text.gsub!(/\%offering\.([a-z0-9_.]+)\%/) do |a|
  begin
    value = @offering.send($1)
    ERB::Util.html_escape(value.to_s)
  rescue
    ''
  end
end

# Escape HTML entities
escaped_text = ERB::Util.html_escape(@text)

# Convert URLs to clickable links
escaped_text = escaped_text.gsub(/(https?:\/\/[^\s<>]+)/, '<a href="\1" style="color: #0066cc; text-decoration: underline;">\1</a>')

# Convert existing links (if any)
escaped_text = escaped_text.gsub(/&lt;a href="([^"]+)"[^&]*&gt;([^&]+)&lt;\/a&gt;/, '<a href="\1" style="color: #0066cc; text-decoration: underline;">\2</a>')

# Split into paragraphs based on double line breaks
paragraphs = escaped_text.split(/\n\s*\n/).reject(&:blank?)
if paragraphs.length > 0
  html_content = paragraphs.map do |paragraph|
    para_text = paragraph.strip
    # Replace single line breaks within paragraphs with <br>
    para_text = para_text.gsub(/\n/, '<br>')
    "<p>#{para_text}</p>"
  end.join("\n")
else
  # If no double line breaks, treat entire content as one paragraph
  html_content = "<p>#{escaped_text.gsub(/\n/, '<br>')}</p>"
end
%>

<div class="content">
  <%= html_content.html_safe %>
</div>