<h5><strong>Welcome!</strong></h5>
<div id='reviewer_welcome'>
<%= raw auto_link(@offering.reviewer_help_text.truncate(350)) %>
<%= link_to 'Show More <i class=mi md-16>expand_more</i>'.html_safe, '#', class: 'show-more-link', data: { full_text: textilize(auto_link(@offering.reviewer_help_text)) } %>
</div>
