// public pages stylesheet

body {
	background-color: #eeeeee;
}

#content {
	padding: 1rem 1rem 0 1rem;
}

a:hover{
	color: #b7a57a;
}

.bold {
	font-weight: bold;
}

.smaller {
	font-size: 85%;
}

.larger {
	font-size: 115%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.top-bar {
	margin-bottom: 2em;
}

.gray, .light {
	color: gray;
}

.required {	
    color: #d45f53;
}

.red_color {
	color: #F44336;
}

.uw_green{
	color: #4CAF50;
}

.uw_purple {
	color: #4b2e83;
}

.uw_bg_purple {
	background-color: #4b2e83;
}

.uw_light_gold {
	color: #e8e3d3;
}

.uw_light_bg_gold {
	background-color: #e8e3d3;
}

.uw_dark_gold {
	color: #b7a57a;
}

.uw_dark_bg_gold {
	background-color: #b7a57a;
}

.uw_metallic_gold {
	color: #85754d;
}

.uw_metallic_bg_gold {
	background-color: #85754d;
}

.show_block {
	display: block;
}

.hide_block {
	display: none;
}

.caption {
	font-size: 80%;
	color: #999;	
}

.word_wrap {
	overflow-wrap: anywhere;
}

.clear {
	clear: both;
}

.highlight_box {
	background-color: #fdfbce;
	border: 1px solid #fde496;
	padding: 8px 12px;
}

span.highlight_box{
	padding: 3px 6px;
}

ul.list_style {
	padding-left: 45px;
}

#sidebar ul.list_style {
	padding-left: 25px;
}

ul.list_style li {
	list-style-type: circle;
}

abbr[title="required"]{
	font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 0.75rem;
    border: 0;
    color: #d45f53;
    margin-left: 4px;
}

[type="checkbox"] + span:not(.lever) {
	line-height: 20px;
}

.material-icons.md-20, .mi.md-20 {
	font-size: 20px;
}

.material-icons.md-32, .mi.md-32 {
	font-size: 32px;
}

// Align matieral-icons with text
i.material-icons.align, i.material-icons.bottom_align {
	vertical-align: bottom;
}

i.material-icons.middle_align{
	vertical-align: middle;
}

i.material-icons.top_align, i.material-icons.vertical_top {
	vertical-align: top;
}

// EXPO Header
#header {
    background: #39275B url(image-path('jellyfish.jpg')) -410px;
    height: 49px;
    text-align: left;
    padding-top: 1px;
    position: fixed;
    width: 100%;
    top: -1px;
    z-index: 10;
    opacity: 0.95;
    border-bottom: 1px solid #656565;
	margin-bottom: 1.2em;
}

#header ul {
	padding: 0 0 0 20px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    background: #D7C896;
    height: 10px;
    border-bottom: 1px solid #323232;
}

#header ul li.menu-text{
/*	padding-left: 2.2em;*/
	color: #fff;	
    text-decoration: none;
    text-indent: -9999px;
    background: url(image-path('expo-logo-public.png')) no-repeat 0 3px;
    width: 75px;
    height: 50px;
    display: block;
    border: none;
    top: -1px;
    left: 75px;
    position: absolute;

}

#header #w-patch {
	background-image: url(image-path('yellow-patch.png'));
	width: 39px;
	height: 45px;
	position: fixed;
	top: -4px;
	left: 21px;
	z-index: 100;
}

nav .nav-wrapper{
	margin-top:3rem;
	color: rgba(0, 0, 0, 0.7);
	background-color: white;
	padding-left: 12px;
}

nav .nav-wrapper a {
	color: #039be5;
}

nav .nav-wrapper a:hover{
	color: #b7a57a;
}

thead th, tbody td, tbody th{
	font-size: 0.9em;	
	padding: 15px;
}

tbody th{ 
	color: rgba(0, 0, 0, 0.54);
	font-weight: 600;
}

table.borderless tr, table.borderless td {
	border-bottom: none;
}

.attributes_table tbody tr th {
	width: 20%;
}

#main .content{
    padding: 15px 20px;
}

.table-header {
    height: 64px;
    padding: 0 15px;
    align-items: center;
    display: flex;
    border-bottom: solid 1px #ddd;
}

.table-footer {
	height: 56px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: rgba(0,0,0,0.54);
}

#footer-wrap{
	padding: 0.9375rem;
}

#footer{
	font-size:70%;
	padding-left: 2.5rem;
	padding-right: 0.9375rem;
	margin-top: 2em;
    border-top: 1px solid #E5E5E5;	
	background: url(image-path('uw-block-logo.gif')) no-repeat 0 1.1em;
    clear: both;
}

#footer p {
    border-left: 3px solid #EEEFEF;
    padding-left: 10px;
}

#copyright {
	margin-top:1em;
}

.dso_statement{
	font-size:0.6rem;
	color: #9498A1;
}

.rails_env {
	height: 15px;
	width: 200px;
	position: fixed;
	top: 19px;
	left: 150px;
	padding: 0;
	z-index: 1000;
}

.rails_env span {
	letter-spacing: 5px;
	font-size: 11px;
	background: yellow;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 8px;
	margin: 0;
}

/*
   Button Style
*/
.btn, .btn-large, .btn-small, .btn-floating{
	background-color: #4b2e83;
	padding: 0 16px;
}

.btn:hover, .btn-small:hover, .btn-large:hover {
 	background-color: #6e579b;
}

.btn:focus, .btn-small:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #3c2468;
}

.btn.smaller{
	padding: 0 12px;
}

.btn.small {
	padding: 0 10px;
	height: 28px;
    line-height: 28px;
    font-size: 85%;
}

/*****  end *****/

ul.pagination{
	padding-top: 20px;
}

.pagination li.active a {
  color: #fff;
}

.scopes {
    margin: 0;
    padding: 0;
    flex-grow: 1;   
    text-align: right;
}

.scopes li { 
	display: inline-block;
	font-size: 1rem;
	margin-left: 16px;
}

.scopes .selected > a {
	padding: 5px;
	-webkit-font-smoothing: antialiased;
	background-color: #4b2e83;
	color: whitesmoke;
}

#scholarship_search select {
	height: 1.8rem;
	font-size: 0.75rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

#sidebar {
	min-width: 240px;
}

#sidebar h5{
	padding: 15px 0;
}

#sidebar h5 .material-icons, .card h5 .material-icons {
	font-size: 2rem;
}	

#sidebar .chosen-container {
	margin-bottom: 1rem;
}

.sideblock {
	padding: 0rem 1rem 2rem 1rem;
	margin-top: -0.5rem;
}

.clear_filter {    
    cursor: pointer;
    vertical-align: middle;
    padding-left:12px;
}


/* Scholarship Database Search Style */

.scholarship_detail{
	padding: 0.4rem 1rem;
}

.scholarship_detail h4 {
	color: #4b2e83;
}

.scholarship_detail h6 {
	background-color: #4b2e83;
    color: #FFFFFF;
    padding: 0.6rem 0.8rem;
}

.scholarship_detail .content {
	padding: 0.2rem 0.8rem;
}

.scholarship_detail .content ul {
	padding-left:2rem;
}	

.scholarship_detail .content ul li {
	list-style-type: disc;
}

.page_info {
	font-size:1rem;
	color: gray;
	padding-left: 0.75rem;
}


/* @group Service Learning */
// #service_learning_positions .card .card-action {
// 	padding: 14px 22px;
// }

#service_learning_positions .card.filled .card-action {
	padding: 19px 22px;
}

#service_learning_positions .collection .collection-item.avatar {
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#service_learning_positions ul.position.requirements {
	margin: .5em 0 0 -0.5em;	
}

#service_learning_positions ul.position.requirements li {
	display: inline-block;
	margin-left: 1em;
	color: #888;	
}

#service_learning_positions ul.position.requirements li:before {
  content: "• ";
}

#service_learning_positions ul.collection li.filled, #service_learning_positions .card.filled, #service_learning_positions .card.filled .card-reveal {
	background: #fff url(image-path('app/unavailable-xtile.gif')) repeat;
}

#service_learning_positions ul.show-list-style li {
	list-style-type: circle;
    margin-left: 16px;
}

#service_learning_positions .collection .collection-item.avatar .secondary-content {
	top: 22px;
}

#service_learning_positions .card .card-image img {
	height: 150px;
}

.secondary-content .button_to, .card-action .button_to {
	color: whitesmoke;
}

.status_tag, .tag {
    background-color: rgba(0,0,0,0.54);
    font-size: 12px;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 0.75rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    letter-spacing: 0.1em;
    line-height: 16px;
    padding: 4px 8px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.status_tag.green {
	background-color: #4CAF50;
}

.status_tag.info {
	background-color: #26A699;
}

.status_tag.warning, .status_tag.error, .status_tag.red {
	background-color: red;
}

.status_tag.yes {
    background-color: #4b2e83;
}

.pending.tag {
	background-color: #68defc
}

#sidebar .filters :not(.circle-clipper) > .circle {
	position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

#sidebar .filters i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
}

.tabs {
	margin-bottom: 1rem;
}

.tabs .tab a {
	background-color: rgba(246, 178, 181, 0.2);
	font-weight: bold;
	font-size: 13px;
}

.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a:focus, .tabs .tab a:focus.active {
	background-color: #ffe6e9;
}

dl.inline-definitions {
	// margin-top: 2em;
}

dl.inline-definitions dt {
	float: left;	
	font-size: 0.85rem;
	font-weight: bold;
	color: rgba(0,0,0,0.54);
	margin-left: 20px;
	display: block;	
}

dl.inline-definitions dd {
	margin: 0;
	margin-bottom: 1.5em;	
	color: rgba(0,0,0,0.7);	
	padding: 0px 16px 16px 150px;	    
    font-size: 0.85rem;
    border-bottom: 1px solid #efefef;
    font-weight: 400;    
}

dl.inline-definitions dd p:first-child {
	margin-top: 0px;
}

dl.inline-definitions dd ul li {
	list-style-type: circle;
    margin-left: 16px;
}

/* @group Selectable */

.selectable th {
	background-color: #d9d9d9;
    color: #444;
    padding: 10px;
    font-size: 90%;
    text-shadow: 1px 1px #fff;
    border-bottom: 1px solid #BDBDBD;
    text-align: center;
}

.selectable .hour {
	width: 5%;
	font-size: 80%;
	font-weight: normal;
	padding: 1px 5px;
}

.selectable tbody td {
	padding: 5px;
}

.selectable tr.half_row td {
	border-bottom-color: #dadada;
}

.selectable .selected {
	background: #3a87ad;
	border-bottom-color: #88b7cd;
}

.selectable tr.half_row td.selected {
	border-bottom-color: #88b7cd;
}

.selectable tr:hover {
	background-color: inherit;
}

.selectable td {
	border-right: 1px solid #dadada;
	width: 12%;
}

/* @end */


#student_electronic_signature {
	width: 150%;
}

.final_submit {
    text-align: center;
    width: 60%;
    font-weight: bold;
    margin: 5px auto;
    padding-bottom: 2.4rem
}

/* @group Big Numbers */
dl.big.numbers dt {
	float: left;
	margin: 0;
	font-size: 300%;
	font-weight: bold;
	color: #b7d9f8;
	margin-left: 20px;
	display: block;
	line-height: 100%;
}

dl.big.numbers dt.grey {
	color: #ccc;
}

dl.big.numbers dd {
	margin: 0;
	margin-bottom: 1em;
	font-size: 100%;
	padding: 2px;
	padding-left: 6em;
}

dl.big.numbers dd i {
	vertical-align: bottom;
}

/* @end */

#account-nav {
	position: fixed;
	float: right;
	top: 1rem;
	right: 1rem;
	color: whitesmoke;
	font-size: small;
	line-height: 28px;
}

#account-nav a{	
	color: white;
}

#account-nav a:hover{	
	color: #b7a57a;
}

.position_picture {	
	text-align: center;
	padding-top: 50px;
	height: 150px;

}

.position_picture i.circle {
	width: 70px;
	height: 70px;
	font-size: 32px;
    line-height: 70px;
    color: #fff;
    background-color: #999;
    text-align: center;
}

/* Custom Chosen style */
.chosen-container-single .chosen-single {
	height: 40px;
	line-height: 40px;
	border-color: #d3d3d3;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.chosen-container-single .chosen-single div {
	top: 9px;
}

.chosen-container-single .chosen-single abbr {
	top: 14px;
}

.chosen-container-single .chosen-search {
	background: none;
}

.chosen-container-single .chosen-search input[type="text"] {
	padding: 4px 0px 4px 5px;
	width: 97%;
}

.card .actions {
	border-top: 1px solid #ddd;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
}

.card .actions.text-left {
    text-align: left;
}

form ul.error {
	background-color: #f44336;
	color: white;
	padding: 15px;
}

form ul.error li {
	margin-left: 20px;	
}

form .alert.error {
	margin-bottom: 1rem;
}

// From Validation error display
input:not([type]).error,
input[type=text]:not(.browser-default).error,
input[type=password]:not(.browser-default).error,
input[type=email]:not(.browser-default).error,
input[type=url]:not(.browser-default).error,
input[type=time]:not(.browser-default).error,
input[type=date]:not(.browser-default).error,
input[type=datetime]:not(.browser-default).error,
input[type=datetime-local]:not(.browser-default).error,
input[type=tel]:not(.browser-default).error,
input[type=number]:not(.browser-default).error,
input[type=search]:not(.browser-default).error,
textarea.materialize-textarea.error {
	border-bottom: 1px solid #F44336;
    -webkit-box-shadow: 0 1px 0 0 #F44336;
    box-shadow: 0 1px 0 0 #F44336;	
}

select.material:focus{
    outline: none !important;
}

select.material{
    display: block;
    padding: 0;
    position: absolute;
    background: transparent;
    color: transparent;
    border: none;
    top: 0;
}

// END

// .email_body {
// 	font-family: "Courier New", Courier, mono;
//     padding-top: 10px;
// }

#new_research_opportunity label {
	font-size: 1rem;
}

li.active .collapsible-header .material-icons.iconcollapse {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.card-action .cancel-button {
	margin-top: -35px;
	color: gray !important; 
}

.card-action .cancel-button:hover {	
	opacity: 0.5;
}

.mentor_main ul li, .welcome-links li li{
	padding-left: 1em;
    list-style-type: disc;
    margin-left: 2em;
}

#mentor_contact_info {
	width: 65%;
}

#mentor_contact_info label {
	font-size: 1rem;
	font-weight: 500;
	color: #999;
}

#mentor_contact_info select {
	border-color:#e5e5e5;
	margin-bottom: 8px;
}

#mentor_contact_info input, #mentor_contact_info tr td{
	font-size:1rem;
}

#name_fields {
	margin-top: 1rem;
}

div.uploaded_letter {	
	padding: 1.5rem;
	background: #f7f7f7;
}
