#apply_header{
	height: 149px;
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 0.5rem;
}

#apply_header .header_title {
	height: 150px;
	width: 98%;
	position: absolute;
	top: auto;
}

// 2025 sympoisum
#apply_header.symposium2025 {	
    border-bottom: 1px solid #c5b4e3;
    margin-bottom: 1rem;
    height: 143px;
}

#apply_header .header_title.symposium2025 {
	background: url(image-path('symposium/2025/header-layered.png')) repeat;
	background-size: contain;
	height: 142px;
}

.proceedings .header_title.symposium2025 {
	background: url(image-path('symposium/2025/event-title.png'));	
	background-size: cover;
}

// 2024 sympoisum
#apply_header.symposium2024 {
	// background: #7fb439 url(image-path('symposium/2024/header.png'));
	// position: relative;
}

#apply_header .header_title.symposium2024 {
	background: url(image-path('symposium/2024/header-layered.png')) repeat;
}

.proceedings .header_title.symposium2024 {
	background: url(image-path('symposium/2024/proceedings-title.png'));
}

// 2023 sympoisum
#apply_header.symposium2023 {
	background: #7fb439 url(image-path('symposium/2023/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2023 {
	background: url(image-path('symposium/2023/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2023{
	background: url(image-path('symposium/2023/proceedings-title.png'));
}

// 2022 sympoisum
#apply_header.symposium2022 {
	background: #7fb439 url(image-path('symposium/2022/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2022 {
	background: url(image-path('symposium/2022/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2022 {
	background: url(image-path('symposium/2022/proceedings-title.png'));
}

// 2021 sympoisum
#apply_header.symposium2021 {
	background: #4b2e83 url(image-path('symposium/2021/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2021 {
	background: url(image-path('symposium/2021/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2021 {
	background: #4b2e83 url(image-path('symposium/2021/proceedings-title.png'));
}


// 2020 sympoisum
#apply_header.symposium2020 {
	background: #7fb439 url(image-path('symposium/2020/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2020 {
	background: url(image-path('symposium/2020/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2020 {
	background: #7fb439 url(image-path('symposium/2020/proceedings-title.png'));
}


// 2019 sympoisum
#apply_header.symposium2019 {
	background: #D09B2C url(image-path('symposium/2019/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2019 {
	background: url(image-path('symposium/2019/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2019 {
	background: #D09B2C url(image-path('symposium/2019/proceedings-title.png'));
}

// 2018 sympoisum
#apply_header.symposium2018 {
	background: #694092 url(image-path('symposium/2018/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2018 {
	background: url(image-path('symposium/2018/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2018 {
	background: #694092 url(image-path('symposium/2018/proceedings-title.png'));
}

// 2017 sympoisum
#apply_header.symposium2017 {
	background: #694092 url(image-path('symposium/2017/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2017 {
	background: url(image-path('symposium/2017/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2017 {
	background: #694092 url(image-path('symposium/2017/proceedings-title.png'));
}

// 2016 sympoisum
#apply_header.symposium2016 {
	background: #694092 url(image-path('symposium/2016/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2016 {
	background: url(image-path('symposium/2016/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2016 {
	background: #694092 url(image-path('symposium/2016/proceedings-title.png'));
}

// 2015 sympoisum
#apply_header.symposium2015 {
	background: #694092 url(image-path('symposium/2015/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2015 {
	background: url(image-path('symposium/2015/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2015 {
	background: #694092 url(image-path('symposium/2015/proceedings-title.png'));
}

// 2014 sympoisum
#apply_header.symposium2014 {
	background: #694092 url(image-path('symposium/2014/header.png'));
	position: relative;
}

.proceedings .header_title.symposium2014 {
	background: #694092 url(image-path('symposium/2014/proceedings-title.png'));
}

// 2013 sympoisum
#apply_header.symposium2013 {
	background: #2e3192 url(image-path('symposium/2013/header.png'));
	position: relative;
}

.proceedings .header_title.symposium2013 {
	background: #2e3192 url(image-path('symposium/2013/proceedings-title.png'));
}

// 2012 sympoisum
#apply_header.symposium2012 {
	background: #2e3192 url(image-path('symposium/2012/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2012 {
	background: url(image-path('symposium/2012/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2012 {
	background: #2e3192 url(image-path('symposium/2012/proceedings-title.png'));
}

// 2011 sympoisum
#apply_header.symposium2011 {
	background: #2e3192 url(image-path('symposium/2011/header.jpg'));
	position: relative;
}

#apply_header .header_title.symposium2011 {
	background: url(image-path('symposium/2011/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2011 {
	background: #2e3192 url(image-path('symposium/2011/proceedings-title.png'));
}

// 2010 sympoisum
#apply_header.symposium2010 {
	background: #ddb11d url(image-path('symposium/2010/header.png'));
	position: relative;
}

#apply_header .header_title.symposium2010 {
	background: url(image-path('symposium/2010/header-title.png')) no-repeat;
}

.proceedings .header_title.symposium2010 {
	background: #ddb11d url(image-path('symposium/2010/proceedings-title.png'));
}

// 2009 sympoisum
#apply_header.symposium_original {
	background: #2e3192 url(image-path('symposium/2009/header.jpg'));
	position: relative;
}

#apply_header .header_title.symposium_original {
	background: url(image-path('symposium/2009/header-title.png')) no-repeat;
	left: 50px;
	top: 70px !important;
}
