<% 
  # Accept local variables:
  # interface_type: "reviewer" or "interviewer" (optional, for context)
  # 
  # This partial displays the FERPA statement that can be shared between
  # reviewer and interviewer interfaces
%>

<div class='card content'>
  <div class='content-block'>
    <h4>Statement of Responsibilities Regarding FERPA Requirements and the Student Database (SDB)</h4>

    <p>The following is a summary of my responsibilities when using the University of Washington Student Database.</p>

    <ol class="extra_space">
      <li>The information in the Student Database is the property of both the student and the University of Washington and may not be released to anyone except University employees in the course of their work as University employees unless authorization is given by the student or my supervisor, or the information to be released is &ldquo;directory information&rdquo; and the student has not restricted release of directory information.</li>
      
      <li>The release and control of this information is governed by the Federal Family Rights and Privacy Act of 1974 (FERPA) and the Washington Administrative Code.</li>
      
      <li>If a student has restricted release of directory information and has not provided a written release to me, my response to a request for information from persons outside the University should be: 
      <blockquote><strong>I have no information about that individual.</strong></blockquote></li>
      
      <li>If a student has not restricted directory information, I may release: 
        <ul class="list_style">
          <li>Dates of attendance </li>
          <li>Full or part time status </li>
          <li>Degree(s) and awards received </li>
          <li>Scholastic honors </li>
          <li>Majors </li>
          <li>Place of birth </li>
          <li>Last school attended </li>
          <li>Telephone number </li>
          <li>Email </li>
          <li>Participation in officially recognized athletic activities </li>
          <li>Weight and height of members of athletic teams</li>
        </ul>
        </li>
        
      <li>These restrictions on the release of information pertain to all off-campus inquiries, including (but not limited to) prospective employers, FBI, IRS, Police, government officials, parents, spouses and children.</li>
      
      <li>The following exceptions apply to the above rules: 
        <ul>
          <li>If a student has provided a written release, I may release any information covered by the authorization. </li>
          <li>Staff of the Federal Office of Education may have any information they wish. </li>
          <li>Agencies that have provided financial aid to a student may have quarterly enrollment status information. These inquiries should be referred to the Office of the Registrar. </li>
          <li>Parents who claim the student as a dependent with the IRS may have information if they show evidence of dependency in writing. These inquiries should be referred to the Office of the Registrar. </li>
          <li>University faculty and staff may have any information that they need to know to perform their responsibilities to the University whether or not the student has said &ldquo;no&rdquo; to release of directory information. (Campus Police are not considered part of the University staff given general access to the information in the Student database.) </li>
        </ul>
        </li>

      <li>Questions about security of the data should be referred to the Office of the Registrar. </li>
      
      <li>I am responsible for the security of my usercode, password and SecurID card. My usercode is not to be shared with other people. I also understand that my access to information in the Student Database is limited to the information I need to know in order to perform my job at the University. Violation of these provisions may result in disciplinary action, which could include dismissal from the University.</li>
      
    </ol>
  </div>
</div>

