<div id="header">
	<div id="w-patch"></div>
<!-- <div class="top-bar">  	
  <div class="top-bar-left"> -->
    <ul class="menu">
      <li class="menu-text">EXPD-Online</li>
      	<!-- <li><a href="http://expd.uw.edu">Center For Experiential Learning and Diversity</a></li>
        <li><a href="http://uaa.uw.edu">Undergraduate Academic Affairs</a></li> -->
    </ul>
  </div>
</div>