<div class="sideblock <%= sideblock_to_render %> <%= options[:class] if options[:class] %>" id="<%= options[:id] if options[:id] %>">
	<%= render :partial => "#{controller.controller_path}/sidebar/#{sideblock_to_render}", :locals => options[:locals] %>
</div>