<% 
	audience ||= :admin
	admin_view = true if audience == :admin
	@full_view = true # with full_view on, we get to see extra things that mentors and others can't see
	@pages = @app.pages.reject{|p| (audience == :reviewer || audience == :download) ? p.hide_in_reviewer_view? : p.hide_in_admin_view? }
	@reviewer = true if audience == :reviewer
	@download = true if audience == :download

%>
<hr class='header'>
<table class="borderless highlightless">
	<%= render partial: "/apply/page_review",
               collection: @pages,
               locals: { links: :false, user_application: @app, admin_view: admin_view} %>
	<!-- <tr class='row'>
		<th><%#= question_review.short_question_title %></th>
	    <td><%#= eval "app.#{question_review.full_attribute_name}" %></td>
	</tr> -->
</table>