<table>
<tr class="rowset-header">
	<td colspan=2>My Community Engagedment (<%= @service_learning_courses.size %>)</td>
</tr>

<% @service_learning_courses.each do |course| %>
	<tr>
		<td><%= link_to "#{course.title}", community_engaged_path %></td>
		<td><%= course.quarter.title %></td>
	</tr>
<% end -%>
		
<% if @service_learning_courses.empty? %>
	<tr class="empty">
		<td colspan=2>You haven't enrolled in any service-learning courses.</td>
	</tr>
<% end -%>
</table>