<table>	
<tr class="rowset-header">
	<td colspan=2>Community Partner</td>
</tr>

<tr class="empty">
	<td colspan=2>
		<h5>You are listed as an organization contact.</h5>
		<br>
		<%= link_to "Click here to edit organization information and position descriptions.", "https://expo.uw.edu/community_partner" %>
	</td>
</tr>
</table>