<table>
<tr class="rowset-header">
	<td colspan=2>My Events (<%= @person.event_invites.size %>)</td>
</tr>

<% @person.event_invites.reverse.each do |event_invite| %>
	<tr>
		<td><%= link_to "#{event_invite.event.title} (#{event_invite.event_time.time_detail})", 
				:controller => "rsvp", 
				:action => 'event',
				:id => event_invite.event %></td>
		<td><%= event_invite.attending? ? "Attending" : "Not Attending" %></td>
	</tr>
<% end -%>
		
<% if @person.event_invites.empty? %>
	<tr class="empty">
		<td colspan=2>You haven't RSVP'd for any events.</td>
	</tr>
<% end -%>
</table>