
<table>	
<tr class="rowset-header">
	<td colspan=2>My Online Applications (<%= @person_apps.size %>)</td>
</tr>

<% @person_apps.reverse.each do |app| %>
	<tr>
		<td><%= link_to app.offering.title, apply_path(offering: app.offering) %></td>
		<td><%= app.current_status.nil? ? "Not started" : app.current_status.public_title %></td>
	</tr>
<% end -%>
		
<% if @person_apps.empty? %>
	<tr class="empty">
		<td colspan=2>You haven't started any online applications.</td>
	</tr>
<% end -%>

</table>
