<% title "Mentor Review", @person.fullname %>
<div class="card content">
<h5>Your Contact Information
	<span class="heading_inline"><%= link_to "Edit your contact information", :action => "update" %></span>
</h5>
	<%= render :partial => "contact_info" %>

<br>

<h5>Your Mentees</h5>
<p>Below you will find a list of students who have listed you as a research mentor. For each project, please review the abstract or artist statement your student submitted and let us know if you approve.</p>
<p>If accepted for Symposium, the abstract or artist statements will be published in the Symposium Event Schedule along with research mentor information. If you have any concerns regarding information your student has included in their application, you will have the option to indicate that you do not approve so that you may work on revising the application with your student.</p>
<p>If you have any questions, please email <%= auto_link @offering.contact_email %>.</p>


<table id="mentees" width="100%">
	<tr>
		<th>Project Title / Student</th>
		<th align=center>Approved?</th>
		<th align=center>Response</th>
		<th>Action</th>
	</tr>
	
	<%= render :partial => "application_mentor_abstract_approve", :collection => @mentor_applications %>
	
	<% if @mentor_applications.empty? %>
	<tr class="empty">
		<td colspan=4>You are not listed as a mentor for any student applications.</td>
	</tr>
	<% end -%>
	
	
</table>
</div>