<% title "Authorizations - Accountability Reporting" %>
<div class="card content">
<h5 class="big-icons authorize">Authorized Users</h5>

<p>Below is a list of the users who have access to submit and edit reporting information for <%= @department.name %>. You can add or remove users as needed.</p>

<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Full Name</th>
			<th>Functions</th>
		</tr>
	</thead>

 	<tbody id="authorizations_table">
		<%= render :partial => 'authorization', :collection => @authorizations %>
	</tbody>
	
</table>
<br>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/sidebar/navigation" %>
  </div>
<% end %>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/authorizations/sidebar/add_new" %>
  </div>
<% end %>

</div>