<div class="input-field col s12 award">

<% @i = @i.nil? ? 1 : @i+1 %>

	<%= fields_for "user_application[award_attributes][]", award do |af| %>
	
		<% if @user_application.restricted_number_of_awards && award_counter+1 > @user_application.restricted_number_of_awards %>

			<small>(You cannot select another quarter because you have received another award that restricts your award amount.)</small>
			<%= af.hidden_field :requested_quarter_id, :value => "", :index => nil %>
			
		<% else %>

			<% blank ||= "I am not requesting an award for this quarter" if @i.to_i >= @offering.max_number_of_awards %>
		
			<% limit = @offering.max_quarters_ahead_for_awards %>
			<% limit += 1 if @current_quarter_for_dropdown.quarter_code_id < 3 %>

			<%= af.collection_select(:requested_quarter_id, 
									Quarter.current_and_future_quarters(limit,@current_quarter_for_dropdown), 
									:id, 
									:title, 
									{:prompt => true, :include_blank => blank },
									required: @i <= @offering.min_number_of_awards,
									class: 'material validate'									
									) %>
			<%= af.label("", ("Quarter #{@i} :" + " #{content_tag('abbr', '*', title: "required") if @i <= @offering.min_number_of_awards}").html_safe) %>									
			
			<% @current_quarter_for_dropdown = @current_quarter_for_dropdown.next %>
				
		<% end %>			

	<% end %>

</div>