<ul class="welcome-links">
	<% for dashboard_item in @offering.dashboard_items %>

		<% object = @group_member || @user_application %>
		<% @object = object %>

		<% if !@group_member || (@group_member && dashboard_item.show_group_members?) %>

			<% if dashboard_item.show_for?(object) %>				
				<li class="<%= render :inline => dashboard_item.css_class %>">
					<% if dashboard_item.css_class %>
						<i class='material-icons md-36 middle_align uw_purple'><%= dashboard_item.css_class.split.first %></i>
					<% end %>					
					<b><%= raw(render(:inline => dashboard_item.title)) %></b>
					<br />
					<div><%= raw(render(:inline => dashboard_item.content)) rescue "Woops! Something is wrong here. Please contact expohelp@uw.edu" %></div>
				</li>
			<% end -%>
			
		<% end -%>
	
	<% end -%>  
</ul>