<% 	
	icon_font = "done" if page_list.started && page_list.complete && page_list.passes_validations?
	icon_font = "report_problem" if page_list.started && !page_list.passes_validations?
	
	link_content = "#{'<i class="material-icons md-18 middle_align">'+icon_font+'</i> ' if icon_font} 
	<span class='title'>#{page_list.offering_page.title}</span>"
					
	(current = "active" if @page.id == page_list.offering_page.id) unless @page.nil?
	
	#[FIXME] this is not working properly, need to fix it
	if @user_application.user_editable? && !@page.nil?
		confirm = "Are you sure you want to switch to that page? If you have not saved your changes on this page, you will lose them. Do you want to continue?"
	else
		confirm = false
	end
%>

<li>
	<%= link_to raw(link_content), apply_page_path(@offering, page_list.offering_page.ordering), 
				class: "collection-item #{current}", data: { confirm: confirm } %>
</li>