<% view_only ||= false %>
<%= 
if view_only
	"<a class='available view_only'>available</a>"
else
	link_to_remote "available",
	    :url => { :action => "mark_unavailable", :time => time, :timeblock_id => b, :ti => ti },
		:update => "timeblock[#{ti}]",
		:html => { :class => "available" } 
end
%>