<% view_only ||= false %>
<%= 
if view_only
	"<a class='available view_only'>available</a>"
else	
	link_to "available",
	    { action: "mark_unavailable", time: time, timeblock_id: b, ti: ti },
		{ remote: true, class: "available" }
end
%>