<% view_only ||= false %>
<%= 
if view_only
	"<a class='not available view_only'>not available</a>"
else
	link_to "mark available",
	    { action: "mark_available", time: time, timeblock_id: b, ti: ti },
		{ remote: true, class: "not available" }
end
%>