<% title(@offering.name, @offering.quarter_offered.title) %>

<h2>Input Your Availability for an Interview and Submit Your Summary</h2>
<% form_for "complete" do |f| %>
<ol>
	<li>Using the calendar below, click on the times that you are available for an interview with the committee.  Interviews last approximately 30 minutes so please provide at least 30 minute increments (these can begin on the quarter hour).  The more flexible you can be with your schedule the more easily we will be able to schedule your interview&mdash;thanks very much.  Please hold these times on your personal calendar. <em>To mark a time unavailable, select the same time slot to cancel your availability for that time.</em></li>

	<li style="margin-top:1em;">When you've finished marking your availability, <%= f.submit "Click here to submit your proposal summary →" %></li>
<% end %>
</ol><br>

<table class="availability">

	<tr>
		<th></th>
		<% @offering.interview_timeblocks.each do |b| %>
			<th><%= b.date.strftime("%A, %B %d") %></th>
		<% end %>
		<th></th>
	</tr>
	



<%- (@offering.earliest_interview_timeblock_start .. @offering.latest_interview_timeblock_end).each do |t| -%>
	<%- if t.sec == 0 && t.min%15==0  -%>
	 	<%= render :partial => "timeslot_row", :object => t, :locals => { :person_record => @user_application } %>
	<%- end -%>
<%- end -%>		


</table>