<h1>Confirm Revised Abstract</h1>

	<p>Our staff has made minor revisions to your abstract. Before you can continue, you must approve these changes.
		If you do not agree with these changes, please contact our staff. Otherwise, click the "I accept these revisions"
		button to complete this process.</p>

	<% unless @user_application.review_comments.blank? %>
	<p><strong>Staff Comments:</strong>
	 	<br>
		<%= raw(@user_application.review_comments) %>
	</p>
	<% end -%>

	<form method="post">
	
		<div class="abstract">
			<h4>Revised Abstract:</h4>
			<%= @user_application.text("Abstract").body %>
		</div>
	
		<%#= submit_tag( "View and Print PDF Preview", :name => "pdf_button", :id => "pdf_button" ) %>
		<%= submit_tag "I accept these revisions" %>
	
	</form>
