<h1>Enter an Invitation Code</h1>

<p>In order to continue, you must enter an invitation code before you start your application. Please enter the invitation code that you were given to access this application process.</p>

<div class="left-indent">
<% form_for :code, :url => url_for(:action => 'enter_code') do |f| %>

	<%= label_tag :code, "Invitation Code:" %>
	<%= text_field_tag :code %>

	<%= f.submit "Submit", :disable_with => 'Validation invitation code...' %>

<% end -%>
</div>