<% title(@offering.name, (@offering.quarter_offered.title rescue nil)) %>

<div class="card">
  
  <%= form_for :code, action: 'enter_code', id: 'enter_code' do |f| %>
  
	  <div class="card-content">
	  	
		<h4>Enter an Invitation Code</h4>

		<p>In order to continue, you must enter an invitation code before you start your application. Please enter the invitation code that you were given to access this application process.</p>
		
		<div class="row">
		  <div class="input-field col s4">
			<%= text_field_tag :code %>
			<%= label_tag :code, "Invitation Code:" %>
			<%= submit_tag "Submit", data: {:disable_with => "Adding..."}, class: 'btn' %>
		  </div>
	    </div>
	  </div>

  <% end %>
</div>