<% title_text = @question.help_link_text.blank? ? "Help" : @question.help_link_text %>

<% content_for(:title) do %>
	<%= title_text %>
<% end %>
<div class="card">
	<div class="card-content">
		<h3><%= title_text %></h3>
		<%= textilize auto_link(@question.help_text) %>
	</div>
</div>