<% title "Online Applications" %>

<h2>Current Offerings Open for Applications</h2>
<% if @current_offerings.empty? %>
	<p>We're sorry, but there are currently no offerings open for applications.</p>
<% else %>
	<ul>
	<% for offering in @current_offerings %>
		<li><%= link_to offering.title, :action => 'index', :offering => offering.id %></li>
	<% end -%>
	</ul>
<% end -%>
			

<% unless @current_user.person.application_for_offerings.closed.empty? %>
	<h2>Your Previous Applications</h2>
	<p>You can view any of your past applications that are in the system by clicking on the links below:</p>
	
	<ul class="link-list">
	<% for app in @current_user.person.application_for_offerings.closed %>
		<li><%= link_to "#{app.offering.title}: #{app.project_title}", :action => 'index', :offering => app.offering.id %></li>
	<% end -%>
	</ul>
<% end -%>