<h5><i class="material-icons top_align">info_outline</i> Instruction</h5>

In your research project description, please include the following:

<ul class="list_style">
	<li>Brief description of the research project (may also include duration, size of the research team, etc.)</li>

	<li>Potential role for the student(s) and any specific tasks that the student(s) would be performing</li>

	<li>Potential student benefits and learning outcomes</li>

	<li>Estimated number of hours per week you anticipate the student will work on the project</li>

	<li>Minimum qualifications required (e.g., specify skills or prerequisite coursework)</li>
</ul>

<p>* If you don't have a specific project in mind but are willing to mentor a student project, please indicate in the description.</p>

<b>PLEASE NOTE:</b>

<p>Your research project will be indexed in the "Research Areas" at the bottom of this form. Please try to choose the research areas (up to four) that are most applicable to your project.</p>

<p>Your project will be listed on the research opportunities web page and students from beyond UW will have access to your listing and may inquire about participation. While the UW has no policy preventing you from working with non-UW students, we encourage you to give first consideration to UW undergraduates.</p>

