<table id= "population_results">
	
	<tr class="table-header uw_light_bg_gold">
		<% 
		population.output_fields.each do |field|
			if field.match(/^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/)
				field_title = field.match(/^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/)[1].titleize rescue "-ERROR-"
			else
				field_title = field.titleize rescue field
			end
		 	%>
			<th><div class="sort-icon"><%= field_title %></div></th>
		<% end -%>
	</tr>
	

	
	<% population.objects.each do |object| %>
		<tr>
			<% 
			  population.output_fields.each do |field|
				if field.match(/^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/)
					code = field.match(/^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/)[2] rescue nil
				else
					code = field
				end
			 %>
				<td><%= object.instance_eval(code) rescue nil %></td>
			<% end %>
		</tr>
	<% end %>
	
</table>