<div class='panel'>	
  <div class='panel_contents'>
	<div class='content-block objects'>
	  <h1><i class='mi uw_purple'>list</i> <%= @population.title %></h1>

	  <div id="data_table" style="overflow:auto" class="edge-to-edge">
			<span class='loading'><%= image_tag('loading.gif', class: 'indicator loading') %></span>
			<span class="light">Loading results...</div>
		</div>

		

	</div>
  </div>	
</div>