<div class="big-border box" id="conditions_container" <%= "style=display:none" if @population.custom_query? %>>

	<h4 class='select'><i class='mi'>view_list</i>
		That match
		<%= select :population, :condition_operator, [:any, :all] %>
		of the following conditions:
	</h4>

	<table id="conditions" class='borderless'>		
		<%= render :partial => "admin/queries/conditions/condition", 
					:collection => @population.conditions %>
	</table>

	<%= link_to "<span class='mi md-20'>add</span>Add another condition".html_safe,
	   admin_query_conditions_path(@population, condition: { skip_validations: true }),
	  method: :post,
	  remote: true,
	  class: "button add",
	  data: { disable_with: "Adding..." } %>

	<!-- optional loading indicator -->
	<span id="new_condition" style="display:none;">Loading...</span>


</div>