<% title("Select Committee") %>

<div class="card content">
	<p>You are listed as a member of multiple committees. To proceed to the next screen, you need to select which committee you would like to represent for the current session.</p>

	<%= form_for :committee_member, url: { action: 'which'} do |f| %>
	  
		<% for committee_member in @committee_members %>
			<p class="left-indent">
			  <label>
			  	<%= f.radio_button :id, committee_member.id, {class: "with-gap"} %>			  
				<span><%= committee_member.committee.name rescue "(unknown)" %></span>
			  </label>
			  <%#= label "id_#{committee_member.id}", committee_member.committee.name do %>
			</p>
		<% end %>	
	  
	  <%= f.submit "Select", :disable_with => 'Selecting your committee...', class: 'btn' %>
	<% end %>
</div>