<ul class="link-list">
	
	<li><%= link_to "Statement of Responsibilities Regarding FERPA Requirements and the Student Database (SDB)", {:action => "ferpa_statement"}, target: '_blank' %></li>
	
	<li><%= link_to "FERPA for Faculty and Staff", "http://www.washington.edu/students/reg/ferpafac.html", target: '_blank' %></li>
	
</ul>