<h3><%= @department.name rescue @department %></h3>

<ul class="link-list">
	
	<li><%= link_to "#{@year} Courses", 
					url_for(:overwrite_params => { :action => 'courses' }), 
					:class => 'icon-left course' %></li>
									
	<li><%= link_to "#{@year} Individuals", 
					url_for(:overwrite_params => { :action => 'individuals' }),
					:class => 'icon-left positions' %></li>

</ul>