
<ol>
	<li>Identify interviewers (<%= @offering.interviewers.count %> identified)
		<br><font class="smaller"><%= link_to "View full list", :controller => "interviewer", :offering => @offering %></font>
		</li>

	<li><%= link_to "Review e-mail text", admin_communicate_template_path(EmailTemplate.find_by_name("interviewer invite")),
					:popup => true %> for interviewers</li>
					
	<li>Send e-mail to interviewers: <%= button_to "Send emails", :action => :send_interviewer_invite_emails %></li>

</ul>
