<div style="font-size:0.85rem; width: 96%"
<% if @student.sdb.age < 18 %>
	<p>Volunteering in the community has its own risks. Your parent or guardian has already read and signed the acknowledgment of risk agreement below, on your behalf. Please read the following statement so that you understand it as well.</p>

	<blockquote>
		<p>I acknowledge there are certain risks inherent in volunteering in the community, including but not limited to physical injury and death.  I acknowledge that all risks cannot be prevented.  I represent that my minor child is physically able, with or without accommodation, to participate in service learning, is able to use the equipment and/or supplies described in the job descriptions for the service learning positions listed on my child’s “Service Learning Opportunities List”, and has obtained the required immunizations.</p>
		<p>Should my minor child require emergency medical treatment as a result of accident or illness arising during volunteer work, I consent to such treatment.  I acknowledge that the University of Washington does not provide health and accident insurance for service learning participants and I agree to be financially responsible for any medical bills incurred as a result of emergency medical treatment.  I acknowledge that my child has been given the option to purchase student insurance through the University.  I will notify the Service Learning staff and staff at my child’s volunteer site in writing if my minor child has medical conditions about which emergency medical personnel should be informed.</p>
	
<% else %>

<p>Volunteering in the community has its own risks. Before you can participate in service learning opportunities, you <strong>must</strong> read and sign the acknowledgement of risk agreement below.</p>

	<% if @service_learning_course.unit.abbreviation == 'carlson' %>
	<blockquote>
		<p>I acknowledge there are certain risks inherent in volunteering in the community, including but not limited to physical injury and death. I acknowledge that all risks cannot be prevented and I assume those beyond the control of the University faculty and staff. I represent that I am physically able, with or without accommodation, to participate in service-learning, and that I am able to use the equipment and/or supplies described in the service-learning position description for which I am registering and that I have obtained the required immunizations (if any immunization requirements have been listed in the service learning position description for which I am registering).</p>
		<p>Should I require emergency medical treatment as a result of accident or illness arising during volunteer work, I consent to such treatment. I acknowledge that the University of Washington does not provide health and accident insurance for service-learning participants and I agree to be financially responsible for any medical bills incurred as a result of emergency medical treatment. I acknowledge that I have been given the option to purchase student insurance through the University. I will notify the Service-Learning staff and staff at my volunteer site in writing if I have medical conditions about which emergency medical personnel should be informed.</p>
		<p>I understand that it is my responsibility to request reasonable accommodation, if needed for my service-learning placement. To request disability accommodation for service-learning placements, students can contact: UW Disability Resources for Students (matriculated students): depts.washington.edu/uwdrs; or UW Disability Services Office (non matriculated students): http://www.washington.edu/admin/dso.</p>
		<p>I understand that this Acknowledgement of Risk Form applies to all UW Carlson Center-coordinated service learning activities in which I am registering for this quarter and for the remainder of the academic year.  </p>
		<br>
		<dl class="inline-definitions">
			<dt>Student Name</dt><dd><%= @student.fullname %></dd>
			<dt>Course</dt><dd><%= @service_learning_course.title %></dd>
		    <dt>Student ID #</dt><dd><%= @student.student_no %></dd>
		    <dt>Email</dt><dd><%= @student.email %></dd>		  
		</dl>
	
	<% else %>
			
	<blockquote>
		<p>I acknowledge there are certain risks inherent in volunteering in the community, including but not limited to physical injury and death.  I acknowledge that all risks cannot be prevented and I assume those beyond the control of the University faculty and staff.  I represent that I am physically able, with or without accommodation, to participate in service learning, and that I am able to use the equipment and/or supplies described in the job descriptions for the service learning positions, and that I have obtained the required immunizations.</p>
		<p>Should I require emergency medical treatment as a result of accident or illness arising during volunteer work, I consent to such treatment.  I acknowledge that the University of Washington does not provide health and accident insurance for service learning participants and I agree to be financially responsible for any medical bills incurred as a result of emergency medical treatment.  I acknowledge that I have been given the option to purchase student insurance through the University.  I will notify the Service Learning staff and staff at my volunteer site in writing if I have medical conditions about which emergency medical personnel should be informed.</p>	

	<% end %>
<% end %>
</blockquote>
</div>