<% 
  show_my_details_link ||= false
  hide_change_button ||= false 
  show_links ||= :false
%>

<div class="service_learning your_position">
  <strong>Your selected position:</strong>
  <div id="service_learning_positions" class="row">
    <%= render :partial => "position",
          :object => position, 
          :locals => { service_learning_course: service_learning_course,
                       selected_position: :true,
                       show_links: show_links,
                       do_not_identify_as_filled: :true,
                       show_change_link: :true,
                       show_my_details_link: show_my_details_link,
                       hide_change_button: hide_change_button,
                       show_grid_view: false,
                       show_list_view: true } %>
  </div>
</div>