<li>		
		<% @answered_date = @user_application.get_answer(question.id).nil? ? nil : @user_application.get_answer(question.id).to_date %>
		
		<%= qf.label(question.attribute_to_update, question.question) %>		
		<%= select_date(@answered_date, :prefix => "user_application[#{question.attribute_to_update}]", :order => [:day, :month, :year], 
		:start_year => question.start_year||Time.now.year-5, :end_year => question.end_year||Time.now.year+5, :prompt => true) %>
		
		
		<%#= date_select("user_application[#{question.attribute_to_update}]", "date_select",  :order => [:day, :month, :year],
																							 :start_year => question.start_year||Time.now.year-5, 
																							 :end_year => question.end_year||Time.now.year+5,
																							 :default => @answered_date)
        %>
		
		<%= content_tag('em', '*', :class => 'required') if question.required? %>
		<%= display_computed_caption(question.caption) if question.caption? %>
</li>

   