<div class="input-field col s12">	

	<%= qf.text_field question.attribute_to_update, required: question.required? ? true : false ,class: "validate #{'charcounter' if question.character_limit? }",  data: {length: question.character_limit} %>

	<%= qf.label(question.attribute_to_update, "#{question.question} #{content_tag('abbr', '*', title: "required") if question.required?}".html_safe) %>
		
	<%= display_computed_caption(question.caption) if question.caption? %>
</div>