<div class="input-field col s12">

	<p><%= (question.question).html_safe %>
	<%= content_tag('em', '*', :class => 'required') if question.required? %></p><br>

	<table id="mentors">
		<%= render :partial => 'mentor', :collection => @user_application.mentors %>
	</table>
	<br>
	<p><%= submit_tag( "Add another #{@offering.mentor_title} (if needed)", :name => "add_mentor_button", :id => "add_mentor_button", class: 'btn') if @user_application.more_mentors_ok? && !@user_application.submitted? %></p>

</div>
