<li>

	<fieldset>
		<legend><%= question.question %>
			<%= content_tag('em', '*', :class => 'required') if question.required? %>
		</legend>
	
		<div class="question_block" id="other_awards">
			<table class="highlightless borderless">
				<%= render :partial => 'apply/other_award', :collection => @offering.other_award_types.sort %>
			</table>
		</div>
	</fieldset>
	
</li>
