<div class="input-field col s12">
	<%= (question.question + " #{content_tag('abbr', '*', title: "required") if question.required?}").html_safe %>

	<div class="question_block" id="other_awards">		
		<%= render :partial => 'apply/other_award', :collection => @offering.other_award_types.sort %>
	</div>	
</div>