<div class="input-field col s12 select">
	<%= qf.collection_select(question.attribute_to_update, 
								Quarter.current_and_future_quarters(nil, Quarter.current_quarter), 
								:id, 
								:title, 
								{prompt: true },
								required: question.required,
								class: 'material validate'
								) %>

	<%= qf.label(question.attribute_to_update, (question.question + " #{content_tag('abbr', '*', title: "required") if question.required?}").html_safe) %>
		
</div>