<li>
		
		<%= qf.label(question.attribute_to_update, question.question) %>
		
		<%= qf.collection_select(question.attribute_to_update, 
								Quarter.current_and_future_quarters(nil, Quarter.current_quarter), 
								:id, 
								:title, 
								{:prompt => true }
								) %>
		
		<%= content_tag('em', '*', :class => 'required') if question.required? %>
		
</li>