<div class="input-field col s12">
	<%= (question.question + " #{content_tag('abbr', '*', title: "required") if question.required?}").html_safe %>
	
	<div class="question_block">
		<% question.options.each do |radio| %>
		  <p>
		 	 <label>
				<%= qf.radio_button(question.attribute_to_update, radio.value, {class: "with-gap"}) %> 
				<span><%= radio.title %></span>
			 </label>
		  </p>	
		<% end %>	
		<%= display_computed_caption(question.caption) if question.caption? %>
	</div>
</div>