<div class="col left">
  	<div class="input-field">
	 <%= qf.label(question.attribute_to_update, "#{question.question} #{content_tag('abbr', '*', title: "required") if question.required?}".html_safe) %>
		<%= qf.text_field question.attribute_to_update, required: question.required? ? true : false, :size => question.width %>
	 </div>	  
</div>