<% current = "active" if params["view"]=="project_details" %>
<div class="page_list on_page">
<ul class="collection with-header">
	<li class="collection-header"><%= link_to "<i class='mi top_align uw_light_gold'>cloud_upload</i> Your Letter of Support".html_safe %>
	<li class="collection-item <%= current %>"><%= link_to "<i class='mi top_align'>assignment</i> View Student's Application".html_safe, { :view => :project_details } %></li>
	<% @mentee_application.files.each do |file| %>
		<li class="collection-item">
			<%= link_to "<i class='mi top_align'>file_download</i> #{file.title}".html_safe, apply_file_path(@offering, file.id, file.file_identifier) unless file.file.file.nil? %>
		</li>
	<% end %>	
	<!-- <li><%#= link_to "Transcript", { :view => :transcript } %></li> -->
</ul>
</div>