<hr class='header'>
<div class='content-block'>
<table class='borderless'>
	<tr>
		<th>Time</th>
		<th width='90px'>Type</th>
		<th>Staff Person</th>
		<th>Check In Time</th>
		<th colspan="3" width="175px">Functions</th>		
	</tr>

	<% current_date = nil %>

	<% if @student.appointments.empty? %>
		<tr class="empty">
			<td colspan=8>No appointments.</td>
		</tr>
	<% else %>
		<% @student.appointments.each do |appointment| %>
		
			<% if appointment.start_time.to_date != current_date %>
			<tr class="rowset-header">
				<td colspan=15>
					<%- if appointment.start_time.to_date == Time.now.to_date -%>
						Today
					<%- else -%>
						<%= relative_timestamp(appointment.start_time, :date_only => true) rescue "unknown" %>
					<% end -%></td>
				<% current_date = appointment.start_time.to_date %>
			</tr>
			<% end -%>		
		
			<% partial_name = appointment.is_a?(QuickContact) ? "admin/appointments/quick_contact" : "admin/appointments/appointment" %>
			<%= render :partial => partial_name, :object => appointment, :locals => { :hide => [:student] } %>
		<% end %>
	<% end -%>
	
</table>

<%= link_to "Add new appointment", new_admin_appointment_path(:student_id => @student), :class => 'add button' %>

</div>