<hr class='header'>
<div class='content-block'>

<table class='borderless'>

	<tr>
		<th>Event</th>
		<th width='100px'>Type</th>
		<th width='100px'>Unit</th>
		<th>Event time</th>
	</tr>
	
	<% if @student.event_invites.empty? %>
		<tr class="empty">
			<td colspan=4>No attend events history.</td>
		</tr>
	<% else %>
		
		<% for event_invite in @student.event_invites.reverse %>
		<tr>
			<td><%= link_to event_invite.event.title, admin_event_path(event_invite.event), target: '_blank' %></td>
			<td><%= event_invite.event.event_type.title rescue "No event type found"  %></td>
			<td><%= event_invite.event.unit.abbreviation rescue "No unit found" %></td>
			<td><%= link_to event_invite.event_time.time_detail, admin_event_time_path(event_invite.event, event_invite.event_time), target: '_blank' %></td>
		</tr>
		<% end -%>		
		
	<% end -%>

</table>
</div>