<hr class='header'>
<table class="highlight application_review">
	<%= render partial: "/apply/page_review",
               collection: pages,
               locals: { links: :false, user_application: @app, admin_view: true} %>
	<!-- <tr class='row'>
		<th><%#= question_review.short_question_title %></th>
	    <td><%#= eval "app.#{question_review.full_attribute_name}" %></td>
	</tr> -->
</table>