<table style="width:75%" class="highlightless">
	<%= render :partial => "reviewer/application_for_review", 
				:object => @app, 
				:locals => { :show_view_link => :false, :comments => 'hide' } %>
</table><br>