<% title "Application Review", "View Transcript" %>
<% mark_as_confidential @offering.confidentiality_note %>

<div class='card content'>
<%= render :partial => "student_header" %>

<% 
	@user_application = @app 	# need to use the same instance variable so the partials work 
	@mentee_application = @app 	# need to use the same instance variable so the partials work 
	@full_view = true
%>

<div class="transcript">
	<%= render :partial => "admin/students/transcript", :object => @app.person %>
</div>

</div>
<% sidebar :sidebar_nav %>
<% sidebar :comments %>