<ul>
	<li style="line-height: 24px !important"><%= raw(simple_format(encode_utf(@user_application.text(question.attribute_to_update).body)).gsub("\t", "&nbsp;&nbsp;&nbsp;&nbsp;")) rescue simple_format(@user_application.text(question.attribute_to_update).body).gsub("\t", "&nbsp;&nbsp;&nbsp;&nbsp;").html_safe %></li>
</ul>