<% location = eval "@user_application.#{question.full_attribute_name}" %>

<li>
	<div id="map-container">
	    <!-- A text box and two buttons for geocoding and mapping an address -->
	    <div id="geocode-panel" style="visibility: hidden">
	        <input id="address" type="text" placeholder="Enter Address" size=60>
	        <input id="geocode-submit" type="button" value="Map it!">
	        <input id="geocode-clear" type="button" value="Clear">		
	    </div><br>
	    <!-- The div that becomes the map itself -->
	    <div id="map" style="height: 400px; width: 800px;"></div><br>
	    <!-- The final submit button -->
	    <div id="map-submit-container" style="visibility: hidden">
	        <input id="map-submit" type="button" value="Confirm and Submit Your Locations">
	    </div><br>	
		<%= hidden_field_tag 'hidden-json-container', location %>
		
	</div>
</li>
<%= javascript_include_tag 'gmap-location-grabber' %>
<%= javascript_include_tag('https://maps.googleapis.com/maps/api/js?key=AIzaSyCvUbKJJA95NmykzS3HHSllLxeVlGTcB7c&libraries=drawing&callback=initMap', :async => true, :defer => true).sub('.js', '') %>