<% title("Error | EXPO at the UW Center for Experiential Learning and Diversity") %>
<div class="restriction failed">
	<h1><%= @exception.to_s %></h1>
	<p><%= auto_link(@exception.detail) %></p>
	<p><%= auto_link(@exception.help_text) %></p>
</div>