
<% content_for :main_content_class, "permission_denied" %>

<h1>Permission Denied</h1>
<p>You are not authorized to view this page. You must be assigned the <strong><%= @role %></strong> role.</p>

<% if request.env["HTTP_REFERER"] %>
<p>
	<center>
	<%= button_to "Back", :back %>
	</center>
</p>
<% end -%>
