<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Please Wait</title>

	<link rel="stylesheet" type="text/css" href="/expo/stylesheets/error.css">
	
</head>

<body class="error">

	<div id="header"><h1><%= link_to 'EXP-Online', root_path %></h1></div>

	<div class="error">
		<h1>Updating Student Records...</h1>
		<p><strong>We are currently updating our student records.</strong> This happens every day at 8pm and 3am, but sometimes happens at other times in the day. Please return to this page in a few minutes and try again. We apologize for the inconvenience.</p>
		
		<div class="loading">&nbsp;</div>
	</div>

	<div id="footer">
		<p>
			Copyright &copy; 2007&ndash;<%= Time.now.year %> <a href="http://www.washington.edu">University of Washington</a>.
			Problems, questions or suggestions? Send an e-mail to <%= auto_link CONSTANTS[:system_help_email] %>.
		</p>
	</div>
	

</body>
</html>
