
<% content_for :main_content_class, "permission_denied" %>

<h1>Permission Denied</h1>
<p>You don't belong to the <strong><%= @unit.name %></strong> unit, so you can't view this item.</p>

<% if request.env["HTTP_REFERER"] %>
<p>
	<center>
	<%= button_to "Back", :back %>
	</center>
</p>
<% end -%>
