<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% @text = TextTemplate.parse(@text, @object, @link) %>
	  <%= @text %>        
  </body>
</html>