<% time ||= @time %>
<% invitees ||= @invitees %>

	<tr class='rowset-header'>
		<th class="nosort"><%= select_all_check_box time.id %></th>
		<th class="sortfirstasc"><div class="sort-icon">Name</div></th>
		<th id="expected_sort" class="groupvalue"><div class="sort-icon">Expected?</div></th>
		<th id="attended_sort" class="groupvalue"><div class="sort-icon">Attended?</div></th>
		<% if @use_pipeline_links %>
		  <th class="nosort">Background Check</th>
		<% end %>
		<% @event.extra_fields.keys.each do |title| %>
			<th><div class="sort-icon"><%= h(title) %></div></th>
		<% end -%>
		<% unless time.sub_times.empty? %>
			<th width="15%"><div class="sort-icon">Sub-time</div></th>
		<% end %>
		<th class="nosort"></th>
	</tr>
	
	<% section = nil %>
	<%  time.invitees.joins(:person).order((params[:order] ? params[:order] : 'lastname asc').gsub('_asc', ' asc').gsub('_desc', ' desc')).each do |invitee| %>    
		<%= render :partial => 'admin/events/times/invitee', :object => invitee, :locals => { :time => time } %>
	<% end %>
