<% div_id = "applicant_mini_#{reviewer.id}_#{applicant_mini.id}" %>
<% assigned_to_str = applicant_mini.reviewers.collect{|r| "assigned_to_#{r.committee_member_id}"}.compact.join(" ") %>
<% not_assigned_to_str = applicant_mini.unassigned_review_committee_members.collect{|r| "applicant_mini_not_assigned_to_#{r.id}"}.compact.join(" ") %>

<div id="<%= div_id %>" class="applicant_mini <%= assigned_to_str %> <%= not_assigned_to_str %>">
	<%= link_to applicant_mini.fullname,
              admin_apply_remove_reviewer_path(offering: @offering.id,
                                               phase: @phase.id,
                                               id: @task.id, application_id: applicant_mini.id,
                                                    reviewer_id: reviewer.id),
              method: :delete,
              remote: true,
              class: "removable-applicant",
              data: { confirm: "Remove #{applicant_mini.fullname} from #{reviewer.person.fullname}?" } %>

	 <%#= link_to "details", { :action => 'show', :id => applicant_mini }, 
			:popup => true,
			:class => 'tooltip',
			:title => "Project Title: #{applicant_mini.project_title}&#013;&#013;Project Description:&#013;#{applicant_mini.project_description}&#013;&#013;Mentors:&#013;#{applicant_mini.mentors_list}" %>
			
</div>
