<% first = true %>

<table class="admin_phases">
	<tr>
	<% for phase in @offering.admin_phases.sort %>

		<% id=""; klass="" %>
		<% id = "viewing" if @phase == phase %>
		<% klass = "current" if phase == @offering.current_offering_admin_phase %> 
		<% klass += " first" if first %> <% first=false %>

		<td id="<%= id %>" class="<%= klass %>">
			
			<%= link_to raw("<div class='sequence'>#{phase.sequence}</div>
				 <div class='name'>#{phase.name}</div>
				 <div class='arrow'></div>"), admin_apply_manage_path(@offering) %>

		</td>
	<% end -%>
	</tr>
</table>

