<div class='panel'>	
	<div class='panel_contents'>
		
			<table border="0" cellspacing="0" cellpadding="0">
				
				<tr>
					<th>Student Name</th>
					<th>Project Title</th>
					<th>Current Status</th>
				</tr>


				<% @apps.each do |a| %>
					<tr>				
						<td><%= link_to a.person.lastname_first, admin_student_path(a.person) %>
							<br><small><%= auto_link a.person.email rescue "Unknown" %></small></td>
							<td><%= a.project_title.blank? ? "View Application" : strip_tags(a.project_title) %>
							</td>
							<td><%= raw(print_status(a)) %></td>
					</tr>					
				<% end -%>

			</table>
		
	</div>	
</div>	