<% title(@offering.name, @offering.quarter_offered.title) %>
<div class="card content">
<h3>You are not listed as an interviewer for the current quarter.</h3>

<p>You are not listed as an interviewer for this application process this quarter. If you are interested in being a reviewer this quarter, please contact the program staff.</p>

<p><%= @offering.contact_name %>
<br><%= @offering.contact_phone %>
<br><%= auto_link @offering.contact_email %></p>
</div>