<% mark_as_confidential @offering.confidentiality_note %>

<% title "Interviewer Access", @offering.name %>

<!-- <h1>Your Contact Information
	<span class="heading_inline"><%= link_to "Edit your contact information", :action => "update" %></span>
	</h1>
	<%#= render :partial => "contact_info" %>
<br> -->

<h2>Your Interviewees
	<span style="float:right"><%= link_to (params[:comments] == 'hide' ? 'Show Comments' : 'Hide Comments'), :comments => (params[:comments] == 'hide' ? 'show' : 'hide') %></span>
	</h2>
<p>Below are the interview times for which you are scheduled to attend. You can click on a student's project to review it before the interview.</p>
<table class="highlightless">
	<tr>
		<th>Interview Time</th>
		<th colspan=4>Committee Members</th>
		<th>Location</th>
	</tr>
	
	<%= render :partial => "interview", :collection => @interviews %>
	
	<% if @interviews.empty? %>
	<tr class="empty">
		<td colspan=6>You have not been assigned to any interviews yet.</td>
	</tr>
	<% end -%>
	
</table>